body, p, span, div, a, li, h1, h2, h3, h4, h5, h6 ::not(i) {
    font-family: 'Inter', sans-serif;
}

.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: linear-gradient(to right bottom, #008080, #4d1b7b, #ef4f91);
    color: white;
    font-weight: bold;
    overflow: hidden;
}

.profile-circle-wrapper {
    display: flex;
    align-items: center;
}

.bg-gradient {
    background-color: #040316;
    background-image: 
        radial-gradient(at 47% 33%, hsl(248, 29%, 20%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(241.48, 49%, 32%) 0, transparent 55%);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login-custom {
    min-width: 300px;
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(76, 72, 103, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 14rem;
  height: 100vh;
  overflow-y: auto;
  z-index: 1030;
  transition: all 0.3s ease;
}

.sidebar.collapsed {
  margin-left: -14rem;
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -14rem; 
  }

  .sidebar.show {
    margin-left: 0;
  }
  .sidebar > li{
    display: flex;
    justify-content: center;
  }
  .sidebar > li > a{
    display: flex;
    gap: 10px;
  }
}


#content-wrapper {
  margin-left: 14rem !important;
  transition: margin 0.3s ease;
}
@media (max-width: 991.98px) {
  #content-wrapper {
    margin-left: 0 !important;
  }
}
@media (max-width: 575.98px) {
  #content-wrapper {
    margin-left: 0 !important; 
  }
}
  
